.container {
    /*border: 1px solid grey;*/
    margin-top: 1%;
    padding: .1px;
}

.heading {
    color: hotpink;
}
.login {
    margin-top: 1%;
    background-color: black;
    color: white;
    padding: 2%;
}

.survey {
    border: 1px solid grey;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
}