.container {
    /*border: 1px solid grey;*/
    margin-top: 1%;
    padding: .1px;
}

.heading {
    color: hotpink;
}
.login {
    margin-top: 1%;
    background-color: black;
    color: white;
    padding: 2%;
}

.survey {
    background-image: url(images/prangers.jpg);
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    color: white;
    background-size: cover;
    height: 100%;
    width: 90%;
}