.container {
    padding: .1px;
}

.heading {
    display: flex;
    justify-content: center;
    color: hotpink;
    /*border: 1px solid grey;*/
}
.login {
    margin-top: 1%;
    margin-left: 1%;
    background-color: black;
    color: white;
    padding: 2%;
    width: 98%;
}

.survey {
    background-image: url(images/prangers.jpg);
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    color: white;
    background-size: cover;
    height: 100%;
    width: 90%;
}
